<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>liste film</title>
</head>

<body class="bg-gray-50 text-gray-800">

<!-- NAVBAR -->
<nav class="bg-white shadow-md">
    <div class="max-w-6xl mx-auto px-4">
        <div class="flex justify-between items-center py-4">

            <div class="text-xl font-bold text-blue-600">
                MonSite
            </div>

            <div class="space-x-6 hidden md:flex">
                <a href="{{ path('film') }}" class="text-gray-600 hover:text-blue-600">Film</a>
                <a href="{{ path('index') }}" class="text-gray-600 hover:text-blue-600">Index</a>
                <a href="{{ path('contact') }}" class="text-gray-600 hover:text-blue-600">Contact</a>
            </div>

            <div class="md:hidden">
                <button class="text-gray-600">☰</button>
            </div>

        </div>
    </div>
</nav>

<h1>Liste des films</h1>

<ul>
    {% for film in films %}
        <li>
           {{ film.annee }} - {{ film.nom_du_film }}   
        </li>
    {% endfor %}
</ul>
<p>pour voir les détails des films,ajouter <b>/nom-du-film</b> dans la barre de recherche</p>


</body>
</html>